@import "setting";
@import "special";
@import "table";

  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $secondary-color;
    font-family: $fonts;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    @media (below(300px)) {
        font-size: 14px;
        @warn "Some content on this page may not be visible";
      }
}

main {
    h1, h2 {
        color: $quaternary-color;
    }

    p {
        color: $tertiary-color;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        justify-content: center;
        .origin {
            padding-bottom: 2em;
            margin-bottom: 2vh;
        }
    } 
    li {
        list-style-type: none;
        color: $tertiary-color;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
    }
}
img {
    height: auto;
    max-width: 100%;
    #banner {
        width: 50%;
        height: auto;
        background-color: white;
    } 
    #spice {
        width: 60%;
        height: auto;
    }
    #restauranttables {
        width: 70%;
        height: auto;
    }
}

main {
    margin: 0 20%;
}

nav {
        background-color: $tertiary-color;
        padding: 10px;
    ul {
        list-style-type: none;
        text-align: center;
        }
    li {
        display: inline;
    }
    a {
        text-decoration: none;
        font-size: 1.6em;
        color: $secondary-color;
        margin-right: 25px;
        &:hover {
            @include set-hover($tertiary-color);
            color: $primary-color;
            font-size: 34px;
        &:active {
            color: $quaternary-color;
        }
        }
    }
}



.service {
    display: inline-block;
    background-color:  $tertiary-color;
    border: 5px solid $quaternary-color;
    border-radius: 5px;
    color: $secondary-color;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    @include padding(5px, 10px, 5px, 10px,);
    @include margin(5px, 10px, 5px, 10px);
    border: 3px solid $quaternary-color;
    width: 100%;
    th {
        border: 1px solid $quaternary-color;
        padding: 5px;
        background-color: invert($primary-color, 80%);
        
    }
    td {
        border: 1px solid $quaternary-color;
        font-weight: bold;
    }
}
  